.switchGroup {
  display: flex;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  background-color: lightgray;
}

.switchItem {
  flex: 1;
  cursor: pointer;
}

.switchItemSelected {
  flex: 1;
  cursor: pointer;
  background-color: #4630eb;
  color: white;
}
